<a href="https://colab.research.google.com/github/VismithaNiroop/NewGitRepository/blob/master/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install boto3

Collecting boto3
  Downloading https://files.pythonhosted.org/packages/f6/bf/6fd00f2e8b2f9e8688b10b616c66be985a0053729cb1e92ac2f6e8ec1cd6/boto3-1.16.40-py2.py3-none-any.whl (130kB)
     |████████████████████████████████| 133kB 4.9MB/s
Collecting botocore<1.20.0,>=1.19.40
  Downloading https://files.pythonhosted.org/packages/ea/77/13fc099a10c22d08d766e244412c114694e21982c04cafc1ade33d8a430c/botocore-1.19.40-py2.py3-none-any.whl (7.1MB)
     |████████████████████████████████| 7.1MB 7.2MB/s
Collecting s3transfer<0.4.0,>=0.3.0
  Downloading https://files.pythonhosted.org/packages/69/79/e6afb3d8b0b4e96cefbdc690f741d7dd24547ff1f94240c997a26fa908d3/s3transfer-0.3.3-py2.py3-none-any.whl (69kB)
     |████████████████████████████████| 71kB 8.0MB/s
Collecting jmespath<1.0.0,>=0.7.1
  Downloading https://files.pythonhosted.org/packages/07/cb/5f001272b6faeb23c1c9e0acc04d48eaaf5c862c17709d20e3469c6e0139/jmespath-0.10.0-py2.py3-none-any.whl
Collecting urllib3<1.27,>=1.25.4; python_version != "3.4"
  Downloading https://files.pythonhosted.org/packages/f5/71/45d36a8df68f3ebb098d6861b2c017f3d094538c0fb98fa61d4dc43e69b9/urllib3-1.26.2-py2.py3-none-any.whl (136kB)
     |████████████████████████████████| 143kB 43.5MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.20.0,>=1.19.40->boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.20.0,>=1.19.40->boto3) (1.15.0)
ERROR: requests 2.23.0 has requirement urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you'll have urllib3 1.26.2 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
Successfully installed boto3-1.16.40 botocore-1.19.40 jmespath-0.10.0 s3transfer-0.3.3 urllib3-1.26.2

In [ ]:
import boto3
import numpy as np
import pandas as pd

In [ ]:
help(boto3.client)

Help on function client in module boto3:

client(*args, **kwargs)
    Create a low-level service client by name using the default session.

    See :py:meth:`boto3.session.Session.client`.

In [ ]:
s3=boto3.client('s3')

In [ ]:
Ques_data = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Questions.csv',encoding='latin1')

In [ ]:
ans_data = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Answers.csv',encoding='latin1')

In [ ]:
tags_data = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Tags.csv',encoding='latin1')

In [ ]:
users_data = pd.read_csv('https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Users.csv',encoding='latin1')

In [ ]:
Ques_data.head()

    Id  ...                                               Body
0   80  ...  <p>I've written a database generation script i...
1   90  ...  <p>Are there any really good tutorials explain...
2  120  ...  <p>Has anyone got experience creating <strong>...
3  180  ...  <p>This is something I've pseudo-solved many t...
4  260  ...  <p>I have a little game written in C#. It uses...

[5 rows x 6 columns]

In [ ]:
Ques_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264216 entries, 0 to 1264215
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Id            1264216 non-null  int64
 1   OwnerUserId   1249762 non-null  float64
 2   CreationDate  1264216 non-null  object
 3   Score         1264216 non-null  int64
 4   Title         1264216 non-null  object
 5   Body          1264216 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 57.9+ MB

In [ ]:
del Ques_data['ClosedDate']

KeyError: ignored

In [ ]:
Ques_data['OwnerUserId'].isnull().sum()

14454

In [ ]:
ques_dat=Ques_data[~Ques_data['OwnerUserId'].isnull()]

In [ ]:
ques_dat.head()

    Id  ...                                               Body
0   80  ...  <p>I've written a database generation script i...
1   90  ...  <p>Are there any really good tutorials explain...
2  120  ...  <p>Has anyone got experience creating <strong>...
3  180  ...  <p>This is something I've pseudo-solved many t...
4  260  ...  <p>I have a little game written in C#. It uses...

[5 rows x 6 columns]

In [ ]:
ques_dat['OwnerUserId'].astype('int32')

0               26
1               58
2               83
3          2089740
4               91
            ...
1264211    5610777
1264212    3791161
1264213    7028647
1264214     871677
1264215    6823982
Name: OwnerUserId, Length: 1249762, dtype: int32

In [ ]:
ques_dat.head()

    Id  ...                                               Body
0   80  ...  <p>I've written a database generation script i...
1   90  ...  <p>Are there any really good tutorials explain...
2  120  ...  <p>Has anyone got experience creating <strong>...
3  180  ...  <p>This is something I've pseudo-solved many t...
4  260  ...  <p>I have a little game written in C#. It uses...

[5 rows x 6 columns]

In [ ]:
ans_data.head()

    Id  OwnerUserId  ... Score                                               Body
0   92         61.0  ...    13  <p><a href="http://svnbook.red-bean.com/">Vers...
1  124         26.0  ...    12  <p>I wound up using this. It is a kind of a ha...
2  199         50.0  ...     1  <p>I've read somewhere the human eye can't dis...
3  269         91.0  ...     4  <p>Yes, I thought about that, but I soon figur...
4  307         49.0  ...    28  <p><a href="http://www.codeproject.com/Article...

[5 rows x 6 columns]

In [ ]:
ans_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2014516 entries, 0 to 2014515
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   Id            int64
 1   OwnerUserId   float64
 2   CreationDate  object
 3   ParentId      int64
 4   Score         int64
 5   Body          object
dtypes: float64(1), int64(3), object(2)
memory usage: 92.2+ MB

In [ ]:
ans_data.Id.isnull().sum()

0

In [ ]:
ans_data['OwnerUserId'].astype('int32')

In [ ]:
tags_data.head()

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air
3  90             svn
4  90     tortoisesvn

In [ ]:
tags_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3750994 entries, 0 to 3750993
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Tag     object
dtypes: int64(1), object(1)
memory usage: 57.2+ MB

In [ ]:
users_data.head()

   Unnamed: 0  id display_name  ... up_votes down_votes  views
0           0  26        Shawn  ...      565         67   3547
1           1  26        Shawn  ...      565         67   3547
2           2  26        Shawn  ...      565         67   3547
3           3  26        Shawn  ...      565         67   3547
4           4  26        Shawn  ...      565         67   3547

[5 rows x 9 columns]

In [ ]:
users_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990480 entries, 0 to 1990479
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   id                int64
 1   display_name      object
 2   creation_date     object
 3   last_access_date  object
 4   reputation        int64
 5   up_votes          int64
 6   down_votes        int64
 7   views             int64
dtypes: int64(5), object(3)
memory usage: 121.5+ MB

In [ ]:
user

In [ ]:
del users_data['Unnamed: 0']

In [ ]:
users_data.head()

   id display_name               creation_date  ... up_votes  down_votes  views
0  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
1  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
2  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
3  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547
4  26        Shawn  2008-08-01 12:18:14.52 UTC  ...      565          67   3547

[5 rows x 8 columns]